<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/feed.css">
    <title>Document</title>
</head>
<body>
    <!-- <nav>
     <div class="logo">
       <h5>LOGO</h5>
         
     </div>
     <ul class="navLink">
       <li><a href="#">About</a></li>
       <li><a href="#">Contact</a></li>
       <li><a href="#">Projects</a></li>
     </ul>
     <div class="lines">
         <div class="l1"></div>
         <div class="l2"></div>
         <div class="l3"></div>
     </div>
   </nav> -->

<header>
 <h1>Feed page</h1>
</header> 

 
<div class="container">


    <% post.forEach(function(post) { %>
        <div class="box">
          <a target="_blank" href="/images/uploads/<%= post.image %>">
            <img src="/images/uploads/<%= post.image %>" alt="image">
          </a>
          <div class="caption"><%= post.imageText %></div>
        </div> 
      <% }) %>
      

</div>
   
</body>
                 

</html>