<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link rel="stylesheet" href="/stylesheets/profile.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  </head>
  <body>
    <!-- profile container -->
	<section class="profile_container">
		<div class="profile_img_section">
			<img class="profile_img-LG" src="https://cdn.idntimes.com/content-images/community/2020/10/122163576-262420488513552-863075192792965334-n-f95e3dd6d25d3618eb9f1b3b9bcc5796.jpg" />
			
		</div>

		<div class="profile_desc_section">
			<h2>Sonu Kumar</h2>
			<h3>uniquesonu</h3>
			<p class="description">
                I am a professional photographer.
            </p>
            <p class="description">
                I am a professional photographer.

            </p>
            <a class="account-setting">Account Setting</a>

			<!-- <div class="interests">
				<span class="interests_item">Technology</span>
				<span class="interests_item">Management</span>
				<span class="interests_item">Leadership</span>
			</div> -->
		</div>

	</section>


	<div class="info">
		<div class="card" style="width: 18rem;">
            <img src="https://images.unsplash.com/photo-1702352461386-15dcf064708a?q=80&w=1964&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">All Design</h5>
            </div>
          </div>
	</div>

    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
  </body>
</html>