<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link rel="stylesheet" href="/stylesheets/profile.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  </head>
  <body>
    <!-- profile container -->
	<section class="profile_container">
		<div class="profile_img_section">
			<img class="profile_img-LG" src="https://cdn.idntimes.com/content-images/community/2020/10/122163576-262420488513552-863075192792965334-n-f95e3dd6d25d3618eb9f1b3b9bcc5796.jpg" />
			
		</div>

		<div class="profile_desc_section">
			<h2><%= user.fullname %></h2>
			<h3><%= user.username %></h3>
			<p class="description">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid, soluta.
            </p>
            <p class="description">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Accusantium itaque perferendis, perspiciatis obcaecati facere in?

            </p>
            <div class="interests">
                <a class="account-setting">Account Setting</a>
                <a href="/logout" class="account-setting logout">Logout</a>
                
            </div>

			<!-- <div class="interests">
				<span class="interests_item">Technology</span>
				<span class="interests_item">Management</span>
				<span class="interests_item">Leadership</span>
			</div> -->
		</div>

    <form action="/upload" method="post" enctype="multipart/form-data">
      <input type="text" name="filecaption" placeholder="Write caption for your post...">
      <input type="file" name="file" />
      <input type="submit">
    </form>
    
	</section>


	<div class="infoxyz">

    <div class="cards flex">
      <% user.posts.forEach(function(post){ %>
        <div class="card" style="width: 18rem;">
          <img src="/images/uploads/<%= post.image %>" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title"><%= post.imageText %></h5>
          </div>
        </div>
      <% }) %>
    </div>

		
	</div>

    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
  </body>
</html>